body{
    padding: 0;
    margin: 0;
}


$bgNav:#d4dff0;
$bgOfertas:#FFC947;
$bgMarcas:#185ADB;
nav {
    background-color: $bgNav;
    .navDiv1 {
        ul {
            li {
                font-family: 'Asap', sans-serif;
                a {
                    color: rgb(252, 252, 252);
                }
            }
        }
    }
}

.ofertas {
    background-color: $bgOfertas;
}

.main__cards {
    background-color:$bgOfertas;
}

.espacioMarcas {
    background-color: $bgMarcas;
    display: flex;
      justify-content: space-around;
}

.ofertaS {
    margin: 3em;
    background-color: #512D6D;
    color: #FFFFFFFF;
    border-radius: 25px;
}

.ofertaS:hover {
    background-color: #F8485E;
}

.fotoMarca {
    display: flex;
    align-content: center;
    margin: 15px;
    width: 400px;
}

footer {
    background-color: #EFEFEF;
    font-weight: bold;
    color: #131212;
}

.idNombre {
    display: inline;
}

.iconosFooter {
    display: flex;
    justify-content: flex-end;
}

.parallax-completo {
    width: 100%;
    height: 50vh;
    background-image: url('../img/marcas/local.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btnEnviar{
    background-color:rgb(236, 32, 32);
    font-weight: bold;

}
.btnEnviar:hover{
    background-color: $bgMarcas;
    font-weight: bold;
}

.contenedorMarcas{
    display: flex;
   align-items: center;
}

/*INICIO TYPING*/

.wrapper {
    height: 10vh;
    /*This part is important for centering*/
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .typing-demo {
    width: 38ch;
    animation: typing 5s steps(38), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 2em;
  }
  
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }
  /*FIN TYPING*/

 
  .icono{
      width: 9em;
      height:9em;
  }


  .contenedorcito {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .mediosPago{
      background-color: rgb(88, 69, 69);
  }